@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import 'main';

@font-face {
  font-family: 'Cerapro';
  src: url(./assets/fonts/CeraPro-Regular.woff2);
}
@font-face {
  font-family: 'Cerapro';
  src: url(./assets/fonts/CeraPro-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'Cerapro';
  src: url(./assets/fonts/CeraPro-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'Cerapro';
  src: url(./assets/fonts/CeraPro-Black.woff2);
  font-weight: 900;
}

:root {
  font-family: 'Alvenier',sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --pri-color: #003F74;
  --sec-color: #011E55;
  --acc-grey: #303846;
  --dark-blue: #011E55;
  --acc-grn: #018181;
  --acc-blu: #013D7B;
  --acc-bg: #f8f8f8;
  --f-color: #fff;
  
  color-scheme: light;
  color: var(--sec-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  .hero, header, .abt-btn, .gt-started, .test-inner, .head, .footer, .case-btn{
    --sec-color: #fff;
    --acc-bg: #003f74;
  }
}

[data-theme="dark"]{

  --pri-color: #f8f8f8;
  --sec-color: #fff;
  --acc-grey: #303846;
  --dark-blue: #011E55;
  --acc-grn: #018181;
  --acc-blu: #013D7B;
  --acc-bg: #01102c;
  
  color-scheme: dark;
  color: var(--sec-color);
  background: var(--acc-bg);

  .hero, header, .abt-btn{
    --sec-color: #011E55;
  }
  .wt-btn{
    --sec-color: #018181;
    --dark-blue: #fff;
    background: var(--acc-grn);
  }
  .gr-btn{
    --acc-grn: #fff;
  }
  .abt-btn{
    --sec-color: #fff;
  }

}

h1,h2,h3,h4,h5,p,a{
  color: var(--sec-color);
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-weight: 900;
  font-family: 'Cerapro', sans-serif;
  font-size: calc(3rem + 1vw);
}
h2{
  font-weight: 900;
  font-family: 'Cerapro', sans-serif;
  font-size: calc(2rem + 1vw); 
}
h3{
  font-family: 'Cerapro';
  font-weight: 900;
  font-size: calc(1rem + 1vw);
}
p{
  font-family: 'Alvenier',sans-serif;
  margin: 1rem;
}
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}
img{
  width: 100%;
}

.wrapper{
  padding: 0 calc(1rem + 2%);
  max-width: 1366px;
  margin: 0 auto;
}
